# HISE project ignores
/Binaries/*
/DSPNetworks/Binaries/*
/Builds/*
/Data/*
/Samples/*
!/Samples/readme.txt
!/Samples/info.txt
/UserPresets/*
*.user
*.ncb
*.suo
*.sln
*.cache
.DS_Store
*.wav
*.mp3
*.flac
.env
/Packaging/*
!/Packaging/Linux/
!/Packaging/Linux/**
!/Packaging/Windows/
!/Packaging/Windows/**
/PooledResources/**
/build/*
*AudioResources.dat